### Symfony ###
/.env
/.env.*
!.env.dist  # Keep template if needed
/.env.local.php
/config/secrets/
/public/bundles/
/var/
/vendor/

### Composer ###
/composer.lock
#/composer.json
### Docker/Symfony ###
/compose.yaml
/symfony.lock

### PHPUnit ###
/phpunit.xml
/phpunit.xml.dist
/.phpunit.result.cache

### Asset Mapper ###
/public/assets/
/assets/vendor/

### ImportMap ###
/importmap.php

### Config Files ###
/config/*.yaml
/config/*.yml
/config/*.php
/config/packages/
/config/routes/
/config/services.yaml
/config/bundles.php
/config/preload.php